In [1]:
from data_reader.data_reader import DataReader
from data_reader.helpers import locations
diplomas=DataReader(
    path=locations("diplomes"), 
    sheet_name='COM_2012',
    skiprows=16 # Row nb. 6 will be the columns names
).content()

In [3]:
diplomas.head()

,rr,dr,cr,stable,dr19,libgeo,dpx_rec0s1age2_rec1rpop2012,dpx_rec0s1age2_rec2rpop2012,dpx_rec0s2age2_rec1rpop2012,dpx_rec0s2age2_rec2rpop2012,...,dpx_rec4s2age2_rec1rpop2012,dpx_rec4s2age2_rec2rpop2012,dpx_rec5s1age2_rec1rpop2012,dpx_rec5s1age2_rec2rpop2012,dpx_rec5s2age2_rec1rpop2012,dpx_rec5s2age2_rec2rpop2012,dpx_rec6s1age2_rec1rpop2012,dpx_rec6s1age2_rec2rpop2012,dpx_rec6s2age2_rec1rpop2012,dpx_rec6s2age2_rec2rpop2012
0,84,01,1,1,01,Abergement-Clémenciat,0.000000,51.800000,0.000000,31.876923,...,3.984615,39.846154,3.984615,31.876923,0.000000,39.846154,0.00000,31.876923,0.00000,31.876923
1,84,01,2,1,01,Abergement-De-Varey,0.000000,4.017094,0.000000,4.017094,...,0.000000,0.000000,4.017094,20.085470,4.017094,20.085470,0.00000,20.085470,0.00000,28.119658
2,84,01,3,0,01,Amareins,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,84,01,4,1,01,Ambérieu-En-Bugey,82.967676,776.075301,92.881232,889.899799,...,126.700089,826.537361,57.457376,622.807206,65.179417,609.511394,18.96703,472.038160,48.92151,521.414752
4,84,01,5,1,01,Ambérieux-En-Dombes,8.128713,105.673267,8.128713,93.480198,...,8.128713,105.673267,4.064356,40.643564,4.064356,69.094059,0.00000,44.707921,0.00000,36.579208

In [9]:
diplomas[diplomas['dr'].str.contains('97')].dr.unique()

array(['971', '972', '973', '974'], dtype=object)

# Overall look at the file and its documentation :

* This file gives the level of education (in terms of diploma) in each departement or town, for people above 16yr. This is split into two age group (16-24, >= 25)
* The closest point to 2013 is 2012
* Values are not filled for some town, because the town did not exist at that time ((dis)appearance)

### Will need to remove the NaN values