In [4]:
from data_reader.data_reader import DataReader
from data_reader.helpers import locations
revenus=DataReader(
    path=locations("revenus"), 
    sheet_name='COM',
    skiprows=5 # Row nb. 6 will be the columns names
).content()

In [5]:
revenus.head()

,CODGEO,LIBGEO,NBMENFISC13,NBPERSMENFISC13,MED13,PIMP13,TP6013,TP60AGE113,TP60AGE213,TP60AGE313,...,PPEN13,PPAT13,PPSOC13,PPFAM13,PPMINI13,PPLOGT13,PIMPOT13,RD13,D113,D913
0,01001,L'Abergement-Clémenciat,297.0,768.0,22130.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,L'Abergement-de-Varey,99.0,239.0,23213.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01004,Ambérieu-en-Bugey,6034.0,13599.0,19554.000000,57.0,15.0,18.0,19.0,19.0,...,25.4,19.8,5.9,2.6,1.6,1.7,-19.1,3.158667,10556.315789,33343.888889
3,01005,Ambérieux-en-Dombes,617.0,1693.0,22387.619048,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01006,Ambléon,47.0,102.5,21871.666667,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Overall look at the file and its documentation :

This file relates the distribution of income in each town. It gives :

* The number of households
* The number of people in each household
* The median income 
* The rate of taxable households
* The poverty rate, further split by age class the house ownership
* The split between sources of income
* The wage gap between highest and lowest earners

It is not filled for every town, depending on their size :

* below 50 households, no information is given
* 50-1000, only median income & number of households/people are given
* Above everything is given, but the class split is given only if there are >200p (11 households) in each class

## Note from this notebook : It only gives information for metropolitan France !

In [9]:
revenus[revenus['CODGEO'].str.startswith('97')].CODGEO.unique()

array([], dtype=object)